.signupDiv{
    height:100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.signupCard{
    height:500px;
    width:600px;
    padding: 20px;
}
.Update_details{
    padding: 5px;
    font-size: 18px;
    font-family: 'Consolas';
}